In [1]:
# Load data and preprocess

In [2]:
import pandas as pd
import plotly.graph_objects as go

In [9]:
#load data
df = pd.read_csv('AAPL.csv')

# Convert 'Date' to datetime and set as index
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.101073,469033600.0
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095800,175884800.0
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088768,105728000.0
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090965,86441600.0
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093603,73449600.0
...,...,...,...,...,...,...
2021-01-25,143.070007,145.089996,136.539993,142.919998,142.919998,157611700.0
2021-01-26,143.600006,144.300003,141.369995,143.160004,143.160004,98390600.0
2021-01-27,143.429993,144.300003,140.410004,142.059998,142.059998,140843800.0
2021-01-28,139.520004,141.990005,136.699997,137.089996,137.089996,142621100.0
2021-01-29,135.830002,136.740005,130.210007,131.960007,131.960007,177180600.0

In [15]:
# check for null column values
df.isna().sum()

Open         1
High         1
Low          1
Close        1
Adj Close    1
Volume       1
dtype: int64

In [16]:
# check for null row values
df[df.isna().any(axis=1)]

            Open  High  Low  Close  Adj Close  Volume
Date
1981-08-10   NaN   NaN  NaN    NaN        NaN     NaN

In [19]:
# handle the missing row values by forward filling
df = df.ffill()

In [18]:
# Check for missing values
assert df.isnull().sum().sum() == 0, "Missing values found!"