In [1]:
# Multi Asset Returns

In [2]:
import pandas as pd
import numpy as np

In [3]:
# business days in 2021
business_dates = pd.bdate_range('2021-01-01', '2021-12-31')

# tickers
tickers = ['AAPL', 'FB', 'GE', 'AMZN', 'DAI']

# multi-index (Date, Ticker)
index = pd.MultiIndex.from_product([business_dates, tickers], names=['Date', 'Ticker'])

# simulated prices
market_data = pd.DataFrame(
    index=index,
    data=np.random.randn(len(index), 1),
    columns=['Price']
)

print(market_data.head(10))

                      Price
Date       Ticker
2021-01-01 AAPL   -0.330261
           FB      0.894779
           GE     -1.071945
           AMZN   -0.628210
           DAI     0.288541
2021-01-04 AAPL   -1.146145
           FB      1.593541
           GE     -0.274724
           AMZN   -0.082597
           DAI    -1.227816

In [5]:
# Pivot to get prices by ticker as columns
pivot_prices = market_data.reset_index().pivot_table(
    index='Date', 
    columns='Ticker', 
    values='Price'
)
pivot_prices

Ticker          AAPL      AMZN       DAI        FB        GE
Date
2021-01-01 -0.330261 -0.628210  0.288541  0.894779 -1.071945
2021-01-04 -1.146145 -0.082597 -1.227816  1.593541 -0.274724
2021-01-05  0.138151  0.838443 -0.237754 -0.280965  0.110191
2021-01-06  0.274790 -0.388742 -0.306253  1.991865  0.185886
2021-01-07  0.119166  0.112764  0.287656 -0.513656  2.177092
...              ...       ...       ...       ...       ...
2021-12-27  0.173510  0.419268 -0.787654 -1.418818 -0.847868
2021-12-28 -0.845038 -0.493614  0.183989  0.919265  0.632118
2021-12-29  0.285274 -0.174253  0.787007 -0.297861  0.776247
2021-12-30 -1.151730  1.688782  0.368420  1.768336 -1.445647
2021-12-31  0.137621  1.201283  0.974654  1.082908 -0.582820

[261 rows x 5 columns]

In [10]:
# Compute daily returns without for loop
daily_returns = pivot_prices.pct_change()

print("Multi-asset daily returns:")
print(daily_returns.head())

Multi-asset daily returns:
Ticker          AAPL       AMZN       DAI        FB         GE
Date
2021-01-01       NaN        NaN       NaN       NaN        NaN
2021-01-04  2.470418  -0.868520 -5.255258  0.780932  -0.743715
2021-01-05 -1.120535 -11.150969 -0.806360 -1.176315  -1.401096
2021-01-06  0.989060  -1.463648  0.288110 -8.089374   0.686951
2021-01-07 -0.566338  -1.290074 -1.939276 -1.257877  10.711963

In [9]:
# Alternative method using groupby (more efficient for large datasets)
daily_returns_groupby = market_data.groupby('Ticker')['Price'].pct_change().unstack('Ticker')
print("\nUsing groupby method (should be identical):")
print(daily_returns_groupby.head())

Using groupby method (should be identical):
Ticker          AAPL       AMZN       DAI        FB         GE
Date
2021-01-01       NaN        NaN       NaN       NaN        NaN
2021-01-04  2.470418  -0.868520 -5.255258  0.780932  -0.743715
2021-01-05 -1.120535 -11.150969 -0.806360 -1.176315  -1.401096
2021-01-06  0.989060  -1.463648  0.288110 -8.089374   0.686951
2021-01-07 -0.566338  -1.290074 -1.939276 -1.257877  10.711963